@using Emma.Config

@{
    ViewBag.Title = "IT Op Dashboard";
}

<h2>IT Operations Dashboard - RTRS</h2>

<div class="container">
    <div class="row">
        <div id="dqer" class="col-md-3"></div>
        <div id="parser" class="col-md-3"></div>
        <div id="a12" class="col-md-3"></div>
        <div id="csm" class="col-md-3"></div>
    </div>
    <div class="row">
        <div id="matcher" class="col-md-3"></div>
        <div id="processor" class="col-md-3"></div>
        <div id="responder" class="col-md-3"></div>
        <div id="disseminator" class="col-md-3"></div>
    </div>
</div>

@*<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>*@

@*<div id="container_1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>*@

@section scripts
{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/chart.js"></script>
}

<script>
    var pollingIntervalInSeconds = '@Configuration.Instance.Properties["chart_polling_interval_in_seconds", true]';
    var monitoringWindowInSeconds = '@Configuration.Instance.Properties["chart_monitoring_window_in_seconds", true]';
    var nonShiftPoints = monitoringWindowInSeconds / pollingIntervalInSeconds;
    var chartUrl = '@Url.Action("GetMetricsData", "Home")';
</script>
